<a href="https://colab.research.google.com/github/SpencerZPoole/School-Programming/blob/master/SP_notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Spencer Z Poole

**CS167 Notebook 1 Resubmission**

# Notebook #1: Python, Pandas, and Pokemon, Oh My!

**Due 2/16 by 11:59pm**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data as we did in `practice-assignment`. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import the data:

#make sure the path on the line below corresponds to the path where you put your dataset.
poke = pd.read_csv('/content/drive/MyDrive/DatasetsCS167/pokemon.csv')
poke.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

## Exercise #1: 
Print out all of the possible values for the primary type of pokemon.

In [ ]:
print(poke['Type 1'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

## Exercise #2:
Create a subset of data representing pokemon whose primary type is Bug üêõ, and the second type is Poison üíÄ. Save this DataFrame to the variable name `bug_poison_pokemon`. Display the first 5 lines of this subset.

In [ ]:
bug_poison_pokemon = poke[(poke["Type 1"] == "Bug")&(poke["Type 2"] == "Poison")]
bug_poison_pokemon.head()

     #                   Name Type 1  ... Speed  Generation  Legendary
16  13                 Weedle    Bug  ...    50           1      False
17  14                 Kakuna    Bug  ...    35           1      False
18  15               Beedrill    Bug  ...    75           1      False
19  15  BeedrillMega Beedrill    Bug  ...   145           1      False
53  48                Venonat    Bug  ...    45           1      False

[5 rows x 13 columns]

## Exercise #3
Using `bug_poison_pokemon`, what is the median Attack of Bug Poison Pokemon?

In [ ]:
medianAttackBugPoison = bug_poison_pokemon["Attack"].median()
print(medianAttackBugPoison)

57.5

## Exercise #4
Which primary type of pokemon is the overall strongest? (not looking for philsophical debates here, I'm looking at the average of the 'Total' column, grouped by Type--so Fire v Water v Grass etc.).

In [ ]:
mean_total_by_type = poke.groupby("Type 1", as_index=False)['Total'].mean()
sorted_mean_total_by_type = mean_total_by_type.sort_values(by='Total', ascending=False)
sorted_mean_total_by_type

## dragon type is strongest

      Type 1       Total
2     Dragon  550.531250
16     Steel  487.703704
7     Flying  485.000000
14   Psychic  475.947368
6       Fire  458.076923
15      Rock  453.750000
1       Dark  445.741935
3   Electric  443.409091
8      Ghost  439.562500
10    Ground  437.500000
11       Ice  433.458333
17     Water  430.455357
9      Grass  421.142857
5   Fighting  416.444444
4      Fairy  413.176471
12    Normal  401.683673
13    Poison  399.142857
0        Bug  378.927536

## Exercise #5
Choose a generation of pokemon, and create a subset with only pokemon with this generation. In this subset, only include the following 5 columns in this order: the Generation, name, type 1, type 2, and total.

In [ ]:
generation1 = poke[(poke["Generation"] == 1)]
generation1_column_filtered = generation1[['Generation', 'Name', 'Type 1', 'Type 2', 'Total']]
generation1_column_filtered

     Generation                   Name   Type 1    Type 2  Total
0             1              Bulbasaur    Grass    Poison    318
1             1                Ivysaur    Grass    Poison    405
2             1               Venusaur    Grass    Poison    525
3             1  VenusaurMega Venusaur    Grass    Poison    625
4             1             Charmander     Fire       NaN    309
..          ...                    ...      ...       ...    ...
161           1              Dragonite   Dragon    Flying    600
162           1                 Mewtwo  Psychic       NaN    680
163           1    MewtwoMega Mewtwo X  Psychic  Fighting    780
164           1    MewtwoMega Mewtwo Y  Psychic       NaN    780
165           1                    Mew  Psychic       NaN    600

[166 rows x 5 columns]

## Exercise #6

From the Generation that you've chosen, ouput the mean, median, and standard deviation of the 'HP' column.

In [ ]:
print("Generation 1 HP: Mean = " + str(generation1['HP'].mean()) + " Median = " + str(generation1['HP'].median()) + " Standard Deviation = " + str(generation1['HP'].std()))

Generation 1 HP: Mean = 65.81927710843374 Median = 62.0 Standard Deviation = 28.15396826685769